<div class="contact-section">
  <div class="left-section">
    <div>
      <form class="form">
        <h2>
          Get in Touch
        </h2>
        <p type="Name:"><input placeholder="Your fullname"/></p>
        <p type="Email:"><input placeholder="Your email address"/></p>
        <p type="Message:"><input placeholder="What would you like to know or tell me?"/></p>
        <button>Send Message</button>
      </form>
    </div>

    <div class="details-section">
      <p class="contact-text">M J M - Plumbing & Gas Heating</p>
      <p class="contact-text">Address Line 1</p>
      <p class="contact-text">Address Line 2</p>
      <p class="contact-text">Selby</p>
      <p class="contact-text">YO8 8..</p>
      <p class="contact-text">Email@email.com</p>
      <p class="contact-text">07123 456789</p>

      <p class="contact-text">&copy; <a href="http://gclarke.net">Glenn Clarke</a></p>
    </div>
  </div>
  <div class="right-section">
    <div id map="">
      
    </div>
  </div>
</div>
