<div class="header">
  <div class="logo">
    <h1>M J M</h1>
  </div>
  <div id="navbar" class="navbar">
    <a href="#header">Home</a>
    <a href="#about">About</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#feedback">Feedback</a>
    <a href="#contact">Contact</a>
  </div>
</div>

<app-header id="header"></app-header>
<app-about id="about"></app-about>
<app-portfolio id="portfolio"></app-portfolio>
<app-feedback id="feedback"></app-feedback>
<app-contact id="contact"></app-contact>
