@import 'https://fonts.googleapis.com/css?family=Raleway';

/*
  Colours:
  Dark Blue: #003399
  Light Blue: #6699ff
  White
  Alternative Blue: #3366CC
*/

.app-navbar {
  top: 0;
  position:fixed;
  height: 10vh;
  width: 100%;
  border: 7px #003399 solid;
  overflow: hidden;
  cursor: default;
}

.left-logo {
  background: #003399;
  width: 20%;
  position: fixed;
  height: 10vh;
  overflow: hidden;
}

.right-logo {
  background: #ffffff;
  width: 80%;
  left: 20%;
  position: fixed;
  height: 10vh;
  overflow: hidden;
}

h1 {
  top: -20px;
  text-align: right;
  margin-right: 1%;
  padding-left: 50px;
  font-family: "Raleway", sans-serif;
  display: block;
  text-shadow: none;
  z-index: 5;
  color: white;
  position: fixed;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 8em;
  margin: 0;
}

h2 {
  text-align: right;
  margin-right: 1%;
  padding-left: 50px;
  font-family: "Raleway", sans-serif;
  display: block;
  text-shadow: none;
  z-index: 5;
  color: #003399;
  position: fixed;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 5em;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  top: 2vh;
  left: 85%;
  text-decoration: none;
  color: #3366cc;
  text-align: right;
  margin-right: 1%;
  padding-left: 50px;
  font-family: "Raleway", sans-serif;
  display: block;
  text-shadow: none;
  z-index: 5;
  color: #003399;
  position: fixed;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

a:hover {
  background: #6699ff;
  color: white;
}

.contact-button {
  border: 3px solid #003399;
  border-radius: 30px 0 30px 0;
  height: auto;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  padding-top: 10px;
  vertical-align: middle;
  width: 120px;
  cursor: pointer;
}
