<div class="header">
  <div class="logo">
    <h1>MJM - Plumbing and Gas Heating</h1>
  </div>
  <div id="navbar" class="navbar">
    <a onClick="document.getElementById('header').scrollIntoView({behavior: 'smooth',  block: 'start'});">Home</a>
    <a onClick="document.getElementById('about').scrollIntoView({behavior: 'smooth',  block: 'start'});">About</a>
    <a onClick="document.getElementById('portfolio').scrollIntoView({behavior: 'smooth', block: 'start'});">Portfolio</a>
    <a onClick="document.getElementById('feedback').scrollIntoView({behavior: 'smooth', block: 'start'});">Feedback</a>
    <a onClick="document.getElementById('contact').scrollIntoView({behavior: 'smooth', block: 'start'});">Contact</a>
  </div>
</div>

<app-header id="header"></app-header>
<app-about id="about"></app-about>
<app-portfolio id="portfolio"></app-portfolio>
<app-feedback id="feedback"></app-feedback>
<app-contact id="contact"></app-contact>
