.header-container {
 height: 100vh;
}

.header-image {
  height: 40vh;
  width: 100%;
  background-image: url('../../assets/images/mick-background.jpg');
  -ms-background-position: top;
  background-position: top;
  -ms-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -ms-background-size:cover;
  background-size:cover;
}

.header-text {
  border-top: 1px blue solid;
  height: 20vh;
  width: 100%;
}

.header-logos {
  height: 20vh;
  width: 100%;
  border: 2px red solid;
}

.header-quote {
  height: 20vh;
  width: 100%;
  border: red 2px solid;
}
